# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

# io-platform-green-unit temporary added for itn migration

* @pagopa/io-platform-contributors @pagopa/io-platform-green-unit
/infra/bootstrapper/ @pagopa/io-platform-contributors @pagopa/io-platform-green-unit @pagopa/engineering-team-devex @pagopa/io-ecosystem-n-links @pagopa/io-ecosystem-n-links-ext
