# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-platform-contributors @pagopa/io-ecosystem-n-links
/infra/bootstrapper/ @pagopa/io-platform-contributors @pagopa/engineering-team-devex @pagopa/io-ecosystem-n-links
