# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

- @lucacavallaro @grausof @pagopa/io-platform-contributors

# temporary added for itn migration

- @pagopa/io-institutions-n-services

# engineering-team-cloud-eng

/infra/ @pagopa/engineering-team-devex
/.github/ @pagopa/engineering-team-devex
