name: 'io-sign-dev'

services:
  cosmos-db:
    #preview version wich supports ARM
    image: mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator:vnext-preview
    mem_limit: 3G
    cpu_count: 2
    tty: true
    environment:
      - AZURE_COSMOS_EMULATOR_PARTITION_COUNT=3
      - AZURE_COSMOS_EMULATOR_ENABLE_DATA_PERSISTENCE=true
      - PROTOCOL=https
    ports:
      - 8081:8081
      - 10251:10251
      - 10252:10252
      - 10253:10253
      - 10254:10254
    # volume persistence disabled for local debugging on macOS (permission issues)
    # volumes:
    #   - cosmos-db-volume:/data/db
      
  azurite:
    platform: linux/amd64
    image: mcr.microsoft.com/azure-storage/azurite:latest
    ports:
      - 10000:10000
      - 10001:10001
    command: azurite --skipApiVersionCheck --blobHost 0.0.0.0 --queueHost 0.0.0.0 --tableHost 0.0.0.0
  
  azurite-setup:
    image: node:20-alpine
    working_dir: /app
    depends_on:
      - azurite
    volumes:
      - ./setup-azurite-containers.js:/app/setup-azurite-containers.js
    command: sh -c "npm install @azure/storage-blob @azure/storage-queue @azure/data-tables && node setup-azurite-containers.js"

volumes:
  cosmos-db-volume:
