@font-face {
  font-family: "Titillio Semibold Woff";
  font-weight: 500;
  src: url(./Titillio-Semibold.woff) format("opentype");
}

@font-face {
  font-family: "Titillio Regular Woff";
  font-weight: 500;
  src: url(./Titillio-Regular.woff) format("opentype");
}

body {
  --io-primary-color: #0B3EE3;
  --io-font-family: "Titillio Regular Woff";
}
