@font-face {
  font-family: "Titillium Web";
  font-weight: bold;
  src: url(./assets/TitilliumWeb-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  font-weight: 400;
  src: url(./assets/TitilliumWeb-Regular.ttf) format("truetype");
}
