oa3_spec: https://raw.githubusercontent.com/pagopa/io-backend/master/api_io_sign.yaml
name: opex_api_user
location: West Europe
timespan: 10m
data_source: /subscriptions/ec285037-c673-4f58-b594-d7c480da4e8b/resourceGroups/io-p-itn-common-rg-01/providers/Microsoft.Network/applicationGateways/io-p-itn-agw-01
resource_type: app-gateway
evaluation_frequency: 40 # default 20
evaluation_time_window: 40 # default 20
event_occurrences: 3 # default 1
action_groups:
  - /subscriptions/ec285037-c673-4f58-b594-d7c480da4e8b/resourceGroups/io-p-rg-common/providers/microsoft.insights/actionGroups/SlackPagoPA
  - /subscriptions/ec285037-c673-4f58-b594-d7c480da4e8b/resourceGroups/io-p-rg-common/providers/microsoft.insights/actionGroups/EmailPagoPA
  - /subscriptions/ec285037-c673-4f58-b594-d7c480da4e8b/resourceGroups/io-p-sign-integration-rg/providers/Microsoft.Insights/actiongroups/SlackFirmaConIoTech
  - /subscriptions/ec285037-c673-4f58-b594-d7c480da4e8b/resourceGroups/io-p-sign-integration-rg/providers/Microsoft.Insights/actiongroups/EmailFirmaConIoTech
overrides:
  endpoints:
    /api/v1/sign/metadata:
      availability_threshold: 0.92 # default 0.99
      response_time_threshold: 3 # default 1 
    /api/v1/sign/qtsp/clauses:
      availability_threshold: 0.90 # default 0.99
      response_time_threshold: 3 # default 1 
    /api/v1/sign/qtsp/clauses/filled_document:
      availability_threshold: 0.90 # default 0.99
      response_time_threshold: 3 # default 1 
    /api/v1/sign/signatures:
      availability_threshold: 0.90 # default 0.99
      response_time_threshold: 3 # default 1 
    /api/v1/sign/signature-requests:
      availability_threshold: 0.90 # default 0.99
      response_time_threshold: 3 # default 1 
    /api/v1/sign/signature-requests/{id}:
      availability_threshold: 0.90 # default 0.99
      response_time_threshold: 3 # default 1
