{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "SelfcareEventHubConnectionString": "SELF_CARE_EVENT_HUB_CONNECTION_STRING",
    "SELFCARE_EVENT_HUB_CONTRACTS_NAME": "SELFCARE_EVENT_HUB_CONTRACTS_NAME",
    "SELFCARE_API_BASE_PATH": "SELFCARE_API_BASE_PATH",
    "SELFCARE_API_KEY": "SELFCARE_API_KEY",
    "SLACK_WEBHOOK_URL": "SLACK_WEBHOOK_URL",
    "BACK_OFFICE_API_BASE_PATH": "BACK_OFFICE_API_BASE_PATH",
    "BACK_OFFICE_API_KEY": "BACK_OFFICE_API_KEY",
    "NODE_ENV": "development"
  }
}
