{
  "IsEncrypted": false,
  "Values": {
    "NODE_TLS_REJECT_UNAUTHORIZED": 0,
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "CosmosDbConnectionString": "COSMOS_DB_CONNECTION_STRING",
    "CosmosDbDatabaseName": "COSMOS_DB_NAME",
    "StorageAccountConnectionString": "STORAGE_ACCOUNT_CONNECTION_STRING",
    "IoServicesApiBasePath": "IO_SERVICES_API_URL",
    "IoServicesSubscriptionKey": "IO_SERVICES_API_SUBSCRIPTION_KEY",
    "PdvTokenizerApiBasePath": "PDV_TOKENIZER_SERVICES_API_URL",
    "PdvTokenizerApiKey": "PDV_TOKENIZER_SERVICES_API_KEY",
    "NamirialApiBasePath": "NAMIRIAL_API_BASE_PATH",
    "NamirialUsername": "NAMIRIAL_USERNAME",
    "NamirialPassword": "NAMIRIAL_PASSWORD",
    "LollipopApiBasePath": "LOLLIPOP_API_BASE_PATH",
    "LollipopApiKey": "LOLLIPOP_API_KEY",
    "SpidAssertionMock": "MOCK_SPID_ASSERTION",
    "NODE_ENV": "development",
    "AzureFunctionsJobHost__logging__logLevel__Function": "Trace"
  }
}