# This workflow will perform the code review on each code change.
# It uses "actions/cache" and turborepo in order to perform tasks only on changed files.

name: "Code Review"

on:
  push:
    branches: ["main"]
    paths:
      - apps/**
      - packages/**
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - apps/**
      - packages/**
  workflow_dispatch: {}

jobs:
  code_review:
    timeout-minutes: 10 # temp fix
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          fetch-depth: 2

      - name: Setup Node.js environment
        uses: pagopa/dx/.github/actions/node-setup@0fd2b15f5b61751fa433be93682e4a48779b600b
        env:
          TURBO_CACHE_DIR: .turbo

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: "Generate API models"
        run: pnpm -r run generate:api-models

      - name: "Code review"
        run: pnpm run code-review --force
