name: Deploy (support-func-itn)

on:
  workflow_dispatch: {}

jobs:
  deploy:
    name: Deploy
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@fd7c679d7cf2c9f6505cdef7e152086121c41b10
    secrets: inherit
    with:
      workspace_name: io-func-sign-support
      environment: app-prod
      resource_group_name: io-p-itn-sign-backend-rg-01
      web_app_name: io-p-itn-sign-support-func-01
      disable_auto_staging_deploy: true
    permissions:
      attestations: write
      contents: read
      id-token: write
