name: Deploy (backoffice-app)

on:
  workflow_dispatch: {}

jobs:
  deploy:
    name: Deploy
    uses: pagopa/dx/.github/workflows/release-azure-appsvc.yaml@88a3aa43a737c747c0de2be045349b16cd6dcbe7
    secrets: inherit
    with:
      workspace_name: io-sign-backoffice-app
      environment: app-prod
      resource_group_name: io-p-sign-backend-rg
      web_app_name: io-p-sign-backoffice-app
      disable_auto_staging_deploy: true
    permissions:
      attestations: write
      contents: read
      id-token: write
