name: Deploy (backoffice-func)

on:
  workflow_dispatch: {}

jobs:
  deploy:
    name: Deploy
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@fd7c679d7cf2c9f6505cdef7e152086121c41b10
    secrets: inherit
    with:
      workspace_name: io-sign-backoffice-func
      environment: app-prod
      resource_group_name: io-p-sign-backend-rg
      web_app_name: io-p-sign-backoffice-func
      disable_auto_staging_deploy: true
    permissions:
      attestations: write
      contents: read
      id-token: write
