name: Deploy (issuer-func)

on:
  workflow_dispatch: {}

jobs:
  deploy_workspace_to_azure:
    name: Deploy
    uses: pagopa/dx/.github/workflows/function_app_deploy.yaml@main
    secrets: inherit
    with:
      workspace_name: io-func-sign-issuer
      environment: webapp-prod-cd
      resource_group_name: io-p-sign-backend-rg
      function_app_name: io-p-sign-issuer-func
      health_check_path: /api/v1/sign/info
      use_staging_slot: true

  # tag the current commit as "latest" in order to make the latest
  # released version easily referenceable in the documentation
  add_tag_latest:
    needs: deploy_workspace_to_azure
    runs-on: ubuntu-latest
    steps:
      - name: Delete old tag
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.git.deleteRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "tags/latest"
            })
        continue-on-error: true
      - name: Create tag
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/latest",
              sha: context.sha
            })
