name: Opex Dashboard api_user

on:
  push:
    branches:
      - main
    paths:
      - "apps/io-func-sign-user/openapi.yaml"
      - ".github/workflows/opex_api_user.yaml"
      - ".opex/api_user/**"

env:
  API_NAME: api_user

permissions:
  id-token: write
  contents: read

jobs:
  opex:
    runs-on: ubuntu-22.04
    environment: opex-prod-cd
    strategy:
      matrix:
        environment: [prod]
    steps:
      - name: Checkout
        id: checkout
        # from https://github.com/actions/checkout/commits/main
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
        with:
          persist-credentials: false
          fetch-depth: 0

      # from https://github.com/pagopa/opex-dashboard-azure-action/
      - uses: pagopa/opex-dashboard-azure-action@v1.2.1
        with:
          environment: prod
          api-name: ${{ env.API_NAME }}
          config: .opex/${{ env.API_NAME }}/env/prod/config.yaml
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          # from https://github.com/pagopa/opex-dashboard-azure-action/pkgs/container/opex-dashboard-azure-action
          docker-version: sha256:04d8ead53c772d23b094c2a395292dc159e6f2905e1b13b5f828f31eac6eb27f
